<div class="social-networks">
  <div class="buttons">
    <button>
      <img src= "../../../assets/img/faceBook.png" width="30" height="25" alt="">
    </button>
    <button>
      <img src="../../../assets/img/instagram.png" width="30" height="25" alt="">
    </button>
    <button>
      <img src="../../../assets/img/youtube.png" width="30" height="25" alt="">
    </button>
  </div>

  <div class="input-search">
    <img src="../../../assets/img/lupa.jpg" alt="" width="25" height="25" class="search">
    <input type="text" placeholder="Buscar">
  </div>
</div>
