<div class="social-networks">
  <div class="buttons">
    <a href={{linkFacebook}}>
      <button>
        <img src= "../../../assets/img/faceBook.png" width="30" height="30" alt="">
      </button>
    </a>
    <a href={{linkInstagram}}>
      <button>
        <img src="../../../assets/img/instagram.png" width="30" height="30" alt="">
      </button>
    </a>
    <a href={{linkYoutube}}>
      <button>
        <img src="../../../assets/img/youtube.png" width="30" height="30" alt="">
      </button>
    </a>
  </div>

  <div class="input-search">
    <img src="../../../assets/img/lupa.jpg" alt="" width="40" height="40" class="search">
    <input type="text" placeholder="Buscar">
  </div>
</div>
