<nav>
    <div class="nav-wrapper white">
        <a href="#!" class="brand-logo"><img class="img-logo" src="/assets/imgs/main_logo_UPTC.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons  text-black">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li ><a class="text-black" href="">INICIO</a></li>
            <li ><a class="text-black" href="">LIBROS</a></li>
            <li ><a class="text-black" href="">NOVEDADES</a></li>
            <li ><a class="text-black" href="">CONVOCATORIAS</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li ><a class="text-black" href="">INICIO</a></li>
    <li ><a class="text-black" href="">LIBROS</a></li>
    <li ><a class="text-black" href="">NOVEDADES</a></li>
    <li ><a class="text-black" href="">CONVOCATORIAS</a></li>
</ul>