<div class="container">
    <div class="conten-panel">
      <p>UNIVERSIDAD PEDAGOGICA Y TECNOLOGICA DE COLOMBIA</p>
      <a href="#">Sede central Tunja-Boyaca-Colombia</a>
      <p>Avenida Central de Norte 39-115</p>
      <p>PBX: (57+8)7405626</p>
      <p> <a href="">portalweb@uptc.edu.co</a> comentarios de este sitio</p>
      <a href="">Horario de atencion y servicio telefonico</a>
      <p>Lunes a viernes de 8:00 am a 12:00 m y 2:00</p>
      <p>pm a 6:00 pm</p>
    </div>
    <div class="conten-panel">
      <a href="">Atencion al ciudadano</a>
      <p>Linea gratuita: 01 8000 942024 Tel: (57+8)</p>
      <p>7428263</p>
      <a href="">quejas.reclamos@uptc.edu.co</a>
      <p></p>
      <a href="">Notificaciones judiciales</a>
      <p></p>
      <a href="">Notificaciones de aviso</a>
      <p></p>
      <a href="">Estatus, valores de matricula y derechos</a>
      <p></p>
      <a href="">pecunarios</a>
      <p></p>
      <a href="">Transparencia y Acesso a la Informacion Publica</a>
      <p></p>
      <a href="">Rendicion de cuentas</a>
    </div>
  </div>
  <div class="copy-rigth">
    <p></p>
    <p>Institucion de educacion superios sujeta a  inspeccion y vigilancia por el Ministerio de Educacion Nacional</p>
    <p>Copyrigth 2019 UPTC - Departamento de Innovacion Academica</p>
  </div>
